<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header"></head>
    <body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark" th:replace="fragments/navbar"></nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav" th:replace="fragments/leftNavBar"> </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Tables</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">New user</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                New user form
                            </div>
                            <form th:action="@{/user}" method="post" th:object="${user}">
                                <input type="hidden" id="id" th:field="*{id}">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input type="text" class="form-control" id="name" th:field="*{username}" placeholder="Enter username">
                                    <p class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                                </div>

                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="Enter password">
                                    <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                                </div>

                                <div class="form-group">
                                    <label>Repeat password</label>
                                    <input type="password" class="form-control" id="repeatPassword" th:field="*{repeatPassword}" placeholder="Repeat password">
                                    <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{repeatPassword}"></p>
                                </div>

                                <div class="form-group">
                                    <label>Age</label>
                                    <input type="number" class="form-control" id="age" th:field="*{age}" placeholder="Enter age">
                                    <p class="text-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>
                                </div>

                                <div class="form-group">
                                    <label for="roles">Roles</label>
                                    <select multiple class="form-control" id="roles" th:field="*{roles}" required>
                                        <option th:each="role : ${roles}"
                                                th:text="${role.name}"
                                                th:value="${role.id} + ';' + ${role.name}"
                                                th:selected="${user.roles?.contains(role)}"></option>
                                    </select>
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2021</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
    </body>
</html>
