<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header"></head>
    <body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark" th:replace="fragments/navbar"></nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav" th:replace="fragments/leftNavBar"> </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Tables</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Users</li>
                        </ol>

                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Users table
                            </div>

                            <div class="col-12 mt-3">
                                <a class="btn btn-primary" th:href="@{/user/new}">Add new user</a>
                            </div>

                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Username</th>
                                            <th>Age</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:if="${users.hasContent()}" th:each="user : ${users.content}">
                                            <th scope="row" th:text="${user.id}">1</th>
                                            <td th:text="${user.username}">Alex</td>
                                            <td th:text="${user.age}">22</td>
                                            <td>
                                                <a class="btn btn-success" sec:authorize="hasRole('SUPERADMIN')" th:href="@{/product/{id}(id = ${user.id})}"><i
                                                        class="fas fa-edit"></i></a>
                                                <a class="btn btn-danger" sec:authorize="hasRole('SUPERADMIN')" th:href="@{/product/remove/{id}(id = ${user.id})}"><i
                                                        class="far fa-trash-alt"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2021</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
    </body>
</html>
